body { background-color: #999; }
h3 {
	font-size:14px;
	font-weight: bold;
}
h4 {
	font-size:12px;
	font-weight: bold;
}
#sidebar {
	width:15%;
	display:inline-block;
	vertical-align: top;
	text-align: right;
	padding-right:5px;
}
#content {
	width:84%;
	display:inline-block;
	vertical-align: top;
	border-left:1px solid white;
}
#talks-container {
	/*display: none;*/
	padding: 0 10px;
}
#speakers-container {
	display:none;
	padding: 0 10px;
}
#talk-filters {
	/*display: none;*/
}
#speaker-filters {
	display: none;
}
.days_filter, .days_filter li, .section-selector, .section-selector li, .speaker-jump, .speaker-jump li {
	list-style: none;
	list-style-type: none;
	margin:0;
	padding:0;
	cursor: pointer;
}
.toTop {
	font-size: 11px;
	float:right;
	padding:30px 0 0 0;
}
.talk {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.talk-location {
	width: 25%;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
.talk-info {
	display: inline-block;
	width: 70%;
}
.talk-info.open {
	display: block;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px 0 20px;
	margin-top:10px;
}
.talk-title {
	cursor: pointer;
}
.talk-details {
	display: none;
	width:80%;
	padding: 0 20px;
}
.details-duration, .details-location, .details-categories {
	font-size: 10px;
}
.details-duration {
	margin-bottom:5px;
}
.talk-speakers, .talk-speakers li {
	list-style: none;
	list-style-type: none;
	margin:0;
	padding:0;
	cursor: pointer;
}
.talk-speakers li {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	padding: 10px;
	border-radius: 0px 0px 0px 10px;
	-moz-border-radius: 0px 0px 0px 10px;
	-webkit-border-radius: 0px 0px 0px 10px;
	margin-top:-5px;
}
.talk-abstract {
	padding: 10px 0;
	font-size: 12px;
}
.last-updated {
	font-size: 10px;
	text-align: center;
}
.speaker-bio {
	display: none;
	font-size:12px;
}
.date_divider, .letter-divider {
	font-size: 30px;
	font-family: courier, helvetica;
	font-weight: bold;
	background-color:#444;
	color:#ddd;
	padding: 5px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.time_divider {
	font-size: 20px;
	font-family: courier, helvetica;
	border-top: 1px solid #888;
	padding: 4px 10px;
}

.speaker {
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid white;
}
.first-speaker {
	border:0;
}
.speaker-talks {
	font-size:11px;
	margin:0 0 0 10px;
	padding: 0 0 0 10px;
	list-style-type: square;
}
 @media only screen and (max-width: 980px) {
 	#sidebar {
 		width: 100%;
 		text-align: center;
 	}
 	#content {
 		width: 100%;
 	}
 	.talk-details {
 		width:100%;
 	}
}
